
@{
    ViewBag.Title = "Profile";
}

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div id="RegisterSection">
            <h2>Profile</h2>
            <p>If you can see this page with your name below, all has worked OK.</p>
            <p>@ViewBag.FullName</p>
        </div>
    </div>
</div>
</div>


